@import "themes/onedark.scss";
$rad: 1em;
$rad-bar: 25px;
$font-alt: "CaskaydiaCove Nerd Font";
$shadow: 0px 0px 12px rgba(0, 0, 0, 0.22);
// $shadow: none;
* {
  all: unset;
  border: none;
  font-family: "Phosphor", "Sofia Sans", "Material Icons Round", "Material Desing Icons Desktop";
  // font-weight: 500;
}
.main-windows {
  border-radius: 0;
  background-color: $surface-moderate;
}
.box-main {
  padding: 18px;
}
.system-box,
.music-buttons-box {
  background-color: $surface-medium;
  border-radius: $rad;
  padding: 12px 14px;
  box-shadow: $shadow;
}
scale {
  padding: 0 0.25em;
  trough {
    border-radius: $rad;
    background-color: $surface-weak;
  }
  slider {
    min-height: 18px;
    min-width: 18px;
    border-radius: 100%;
    margin: -5px 0;
    border: 2px solid $white;
    background-color: $surface-moderate;
    // box-shadow: inset 0 0 0 2px #bec5b2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  }
  highlight {
    border-radius: $rad;
    background-color: $white;
  }
}
/*
scale {
  background-color: transparent;
  contents {
    trough {
      border-radius: $rad;
      background-color: $surface-weak;
      slider {
        border-radius: 100%;
        border-style: none;
        background: $yellow;
        padding: 0 0px;
        box-shadow: $shadow;
        min-height: 24px;
        background-repeat: no-repeat;
      }
      highlight {
        border-image: none;
        border-style: none;
        border-radius: $rad 0 0 $rad;
        margin: 0;
        background-color: transparent;
      }
    }
  }
} */
// .volume-bar {
//   & highlight {
//     background-color: $blue;
//   }
// }
// .bright-bar {
//   & highlight {
//     background-color: $yellow;
//   }
// }
.system-box {
  padding: 12px 1.1em;
}
.bar {
  font-size: 22pt;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  &.volume {
    &.icon {
      color: $blue;
    }
    & slider {
      border-color: $blue;
    }
    & highlight {
      background-color: $blue;
    }
  }
  &.bright {
    &.icon {
      color: $yellow;
    }
    & slider {
      border-color: $yellow;
    }
    & highlight {
      background-color: $yellow;
    }
  }
}
.monitor-box {
  background-color: $surface-medium;
  border-radius: $rad;
  padding: 0.6em 0.5em;
  box-shadow: $shadow;
}
.monitor-circular-progress-container {
  min-height: 100px;
  min-width: 100px;
}
.monitor-disk-label,
.monitor-battery-label,
.monitor-disk-value,
.monitor-battery-value,
.monitor-cpu-label,
.monitor-cpu-value,
.monitor-ram-label,
.monitor-ram-value {
  font-size: 15pt;
  color: $white-medium;
}
.monitor-ram-circular-progress,
.monitor-battery-circular-progress,
.monitor-cpu-circular-progress,
.monitor-disk-circular-progress {
  background-color: $surface-weak;
  .monitor-disk-icon,
  .monitor-cpu-icon,
  .monitor-battery-icon,
  .monitor-ram-icon {
    font-size: 20pt;
    padding-left: 2px;
    border-radius: 100%;
    box-shadow: $shadow;
  }
}
.monitor-ram-circular-progress {
  color: $magenta;
}
.monitor-battery-circular-progress {
  color: $green;
}
.monitor-cpu-circular-progress {
  color: $red;
}
.monitor-disk-circular-progress {
  color: $orange;
}
.icon-qs {
  background-color: $surface-soft;
  box-shadow: $shadow;
  color: $white-strong;
  // padding: 0.4em 0.22em 0.4em 0.55em;
  border-radius: 0.5em;
  padding: 0.6em;
  font-size: 17pt;
  &.sep {
    all: unset;
    padding: 0 0.08em;
    margin: -0.6em 0;
    background-color: rgba($color: $surface-moderate, $alpha: 0.35);
  }
  &.sep.enable {
    background-color: rgba($color: $surface-moderate, $alpha: 0.35);
  }
  &.enable {
    // background-color: rgba($color: $green, $alpha: 0.1);
    background-color: $green;
    color: $fga;
  }
  &.label {
    all: unset;
    font-size: 14pt;
    color: $fg;
  }
}
.icon-arrow {
  background-color: transparent;
  padding: 0.1em;
  border-radius: $rad * 0.75;
}
.music-main-box {
  border-radius: $rad;
  box-shadow: $shadow;
  padding: 0;
  background-size: 180px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  .music-content {
    border-radius: $rad;
    // background: linear-gradient(to right, rgba(#bf616a, 0.25), rgba(#7aa28f, 1));
    // background-color: rgba($color: $surface-moderate, $alpha: 0.55);
    background: radial-gradient(
      circle farthest-side at right,
      rgba($surface-moderate, 0.25),
      rgba($surface-medium, 1) 49%
    );
  }
}
.music {
  &.text-box {
    padding: 0.75em 0.85em;
  }
  &.player {
    color: $white;
    font-size: 16pt;
    font-weight: 500;
    background-color: $surface-weak;
    // background-color: rgba($color: $yellow, $alpha: 0.8);
    padding: 0.5em 0.6em;
    border-radius: 1em;
    &-indicator {
      font-size: 18pt;
      color: $yellow;
    }
  }
  &.title { color: $white; }
  &.artist { color: $yellow; font-style: italic; }
  &.title, &.artist {
    font-size: 16pt;
  }
  &.btn {
    font-size: 26pt;
    color: $white;
    &.middle {
      font-size: 26pt;
    }
  }
}
.info {
  color: $white-extra;
  &.box {
    padding: 0 0.5em;
  }
  &.battery.icon {
    color: $green;
    font-size: 20pt;
    &-charging {
      color: $yellow;
    }
  }
  &.battery.label {
    color: $white-extra;
    font-size: 16pt;
  }
  &.time {
    font-size: 16pt;
    &.icon {
      font-size: 18pt;
      color: $blue-light;
    }
  }
}
