@use 'sass:color';

$fg:      #dadada;
$bg:      #181f21;
$fga:     #141b1e;
$black:   #232a2d;
$red:     #e57474;
$green:   #8ccf7e;
$yellow:  #e5c76b;
$blue:    #67b0e8;
$magenta: #c47fd5;
$cyan:    #6cbfbf;
$orange:  #ea9558;
$white:   #dadada;

$surface-strongest: darken($bg, 2.5);
$surface-strong: darken($bg, 1.5);
$surface-moderate: $bg;
$surface-medium: lighten($bg, 2);
$surface-soft: lighten($bg, 4);
$surface-weak: lighten($bg, 6);
$surface-weakest: lighten($bg, 10);

$white-extra: lighten($white, 3);
$white-strongest: color.change($white, $alpha: 0.80);
$white-strong: color.change($white, $alpha: 0.68);
$white-medium: color.change($white, $alpha: 0.62);
$white-soft: color.change($white, $alpha: 0.44);
$white-moderate: color.change($white, $alpha: 0.32);
$white-weak: color.change($white, $alpha: 0.16);
$white-weakest: color.change($white, $alpha: 0.06);

$red-light:        lighten($red, 5);
$orange-light:  lighten($orange, 5);
$yellow-light:  lighten($yellow, 5);
$green-light:    lighten($green, 5);
$cyan-light:      lighten($cyan, 5);
$blue-light:      lighten($blue, 5);
$magenta-light:  lighten($magenta, 5);
$orange-light: lighten($orange, 5);
